.pic-container {
	@include outer-container();
	margin: 50px auto;

	img {
		@include size(200px);
		@include transform(rotate(90deg));
		text-align: center;
		@include span-columns(3);
		@include shift(4.5);
		border-radius: 50%;
	}
}

